<!DOCTYPE html>
<html lang="en">
 <head>
   <title>Aussie Dogs</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
 </head>
    <style>
    table { font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width: 100%; }
    
     td,  th { border: 1px solid #ddd; padding: 8px; }
    
     tr:nth-child(even){background-color: #f2f2f2;}
    
     tr:hover {background-color: #ddd;}
    
     th { padding-top: 12px; padding-bottom: 12px; text-align: left; background-color: #007bff; color: white;}

     body { background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh8N-k8Q7eSOYGtYGSbo7f2wJxVspTPUVI_GViVawJpW7c6GZSIZU5L6QwDMbVZghr_9RTI-TcfLU9b009Gz2L5oJMGtTbv4G4f1mWSW_56j1HXRqhE1WsrIY9fT3c4h_spBIKmHfFBn7rKkIKe9pjsYYJbKq6o6xL5tZCmmj_4Fch2Lle6TA7JmSNuIw/w1600/group-portrait-adorable-puppies-min.jpg'); 
	    opacity: 0.7;}

    </style>
 <body>
<div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h2>Look Up a Dog</h2>
         <form action="read" method="POST">
           <div class="form-group">
             <label for="referenceid">Reference ID</label>
             <input type="text" class="form-control col-lg-9" id="referenceid" aria-describedby="emailHelp" placeholder="Enter Reference ID" name="referenceid">
             <label for="dogname">Dog Name</label>
             <input type="text" class="form-control col-lg-9" id="dogname" aria-describedby="emailHelp" placeholder="Enter Dog's Name" name="dogname">
             <label for="breed">Breed</label>
             <input type="text" class="form-control col-lg-9" id="breed" aria-describedby="emailHelp" placeholder="Enter Dog's Breed" name="breed">
           </div>
           <button type="submit" class="btn btn-primary">Search</button>
         </form>
	 <table id="dogs">
	     <tr>
	     <th> ReferenceID </th>
	     <th> Dog Name </th>
	     <th> Breed </th>
	     <th> Suburb </th>
	     <th> Birth Year </th>
	     <th> Gender </th>
	     <th> Latitude </th>
	     <th> Longitude </th>
	     </tr>
	  <% for(let i=0; i<data.length; i++) {%>
	     <tr>
	     <td><%= data[i].ReferenceID %></td>
	     <td><%= data[i].Animal_Name %></td>
	     <td> <%= data[i].Breed %></td>
	     <td> <%= data[i].Suburb %> </td>
	     <td> <%= data[i].BirthYear %> </td>
	     <td> <%= data[i].Gender %> </td>
	     <td> <%= data[i].Latitude %> </td>
	     <td> <%= data[i].Longitude %> </td>
	     </tr>
	     <% } %>
	 </table>
   </div>
 </div>
 </div>
   <div class="container mt-4">
     <div class="card">
       <div class="card-body">
         <h4>Other useful links</h4>
	    <nav>
	      <a href="/register">Register a dog</a> <br>
	      <a href="/up">Update a dog registration</a> <br>
	      <a href="/del">Delete a dog registration</a> <br>
	      <a href="/adv1">Find Suburbs With a Lot of a Certain Breed</a> <br>
	      <a href="/adv2">Neighborhoods in Large Towns with Certain Types of Buildings</a> <br>
	    </nav>
   </div>
 </div>
 </div>
 </body>
</html>
